<%= javascript_pack_tag 'voice' %>
<div class="p1">
<%= form_with(model: sentence, local: true) do |form| %>
  <% if sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

      <ul>
        <% sentence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :name %>
    <%= form.hidden_field :color %>
  </div>

  <div class="field">
     <%= label_tag(:sentence, t('new sentence')) %>
     <%= form.text_area :sentence, :required => true,:class => 'w-100 bg-light form-control-lg', style: 'min-height:14em' %>
  </div>

  <div class="field" id="folder_comp">
    <%= label_tag(:group, t('folder')) %>

    <div>
      <%= select_tag "folders", options_for_select(@groups,@groups.to_s),:class => ' w-100 bg-light form-control form-control-lg', :onchange => 'thisOrNew("folders","sentence_group")'  %>
    </div>
    <div class="hiddenIf py-2">
      <%= form.text_field :group, :required => false, :placeholder => "New folder name",:class => ' w-100 bg-light'%>
    </div>
    <script>
      function thisOrNew(_source_id,_target_id){
        const sourceElm = document.getElementById(_source_id);
        const targetElm = document.getElementById(_target_id);
        const sourceElvalue = 'New folder';

        if(sourceElm.value != sourceElvalue){
           document.getElementById('folder_comp').classList.remove('showNew');
          document.getElementById(_target_id).value = document.getElementById(_source_id).value;
        }else{
          document.getElementById('folder_comp').classList.add('showNew');
          document.getElementById(_target_id).value = ""
          document.getElementById(_target_id).focus()
        }
      }
      thisOrNew("folders","sentence_group")
    </script>
    <style>
      .hiddenIf{
        display:none
      }
      .showNew .hiddenIf{
        display:block;
      }
    </style>
  </div>

  <div class="actions py-4">

    <%= form.submit t('save') , :class => 'only_online btn btn-space btn-secondary w-25 form-control-lg'%>
    <!-- <a class='only_offline btn btn-space btn-secondary'> Salva offline </a> -->

    <a onclick="voice(document.getElementById('sentence_sentence').value)" class="btn btn-space btn-primary w-25 form-control-lg"><%= t "talk"%></a>
    
    <% if action_name == 'edit' %>
      <%= link_to t("delete"), sentence, method: :delete, data: { confirm: 'Conferma per cencellare' } , class: "btn btn-space btn-secondary w-25 form-control-lg" %>
    <% end %>

  </div>
<% end %>
</div>
