
<div class="text-center">

<%= javascript_pack_tag 'voice' %>

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"/>
<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

    <%= image_tag("happy-bunch-3.png", :alt => "A group of people having a conversation", :style => "width: 80%;padding: 3em;") %>

    <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5" style="text-transform: uppercase;color: #FFF;inline-size: fit-content;font-weight: bolder;"> Use Tabae synthetize voice whenevr you are! </h1>
        </div>
    </div>
   

    <div class="row">
        <div class="col-xl-6 mx-auto">
          <%= image_tag("sitting.png", :alt => "A person sitting on a desk using a computer", :style => "padding: 3em;") %>
        </div>
        <div class="col-xl-6 mx-auto">
          <h3 style="padding: 3em;">Tabae works with all the most popular browsers on PCs, Macs, Tablets or phones</h3>
       </div>
    </div>
    

    <div class="mx-auto" style="max-width:60%">
        <h2>How to start with Tabae</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                <%= link_to "Sign up ( Hey! its free )", new_user_registration_path  %> </li>

                <li class="list-group-item list-group-item-action flex-column align-items-start" >Prepare your sentences whenever works better for you</li>

                <li class="list-group-item list-group-item-action flex-column align-items-start">Login on any device you need Tabae system</li>

                <li class="list-group-item list-group-item-action flex-column align-items-start">Thats it!</li>
            </ul>
    </div>

    <div class="row">
        <div class="col-xl-3 mx-auto">
          <%= image_tag("humaaans.png", :alt => "A person sending an email", :style => "padding: 3em;") %>
        </div>
        <div class="col-xl-6 mx-auto">
          <h3 style="padding: 3em;">Tabae works with all the most popular browsers on PCs, Macs, Tablets or phones</h3>
       </div>
    </div>
    
  </div>

