<style>
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        text-align: left;
        background-color: #5d48f6;
        background: rgb(92, 20, 199);
        background: radial-gradient(circle, rgba(92, 20, 199, 1) 0%, rgba(0, 0, 0, 1) 100%);

    }
</style>
<div class="text-center">



    <h1 class="text-center" style="text-transform: uppercase;color: #FFF;font-weight: bolder;font-size: 1.8em;padding: 1em 1em 1em 0.2em;"> The synthesized voice dashboard <br>(it's easy to use in any device)</h1>
    <p>Tabae aims to be an assistive dashboard</p>



    <section>
        <%= image_tag("happy-bunch-3_trasp.png", :alt => "A group of people having a conversation", :style => "width:100%;padding:5px;") %>
    </section>

    <section class="mx-auto tb-separe" style="max-width:80%">
        <h2>How to start with Tabae</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;;">
                <%= link_to "Sign up ( Hey! it’s free )", new_user_registration_path  %>
            </li>
            <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;">Prepare your sentences whenever works better for you</li>
            <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;;">Log in on any device you need Tabae</li>
            <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;;">That’s it!</li>
        </ul>
    </section>

    <section class="row tb-separe">
        <div class="col-xl-6 mx-auto">
            <%= image_tag("sitting_trasp.png", :alt => "A person sitting on a desk using a computer", :style => "padding:1em;width:80%") %>
        </div>
        <div class="col-xl-6 m-auto">
            <h3>Tabae works with all the most popular browsers on PCs, Macs, Tablets or phones</h3>
        </div>

    </section>

    <section class="row tb-separe">

        <div class="col-xl-4 mx-auto">
            <%= image_tag("humaaans_trasp.png", :alt => "A person sending an email", :style => "padding:1em;width:100%") %>
        </div>
        <div class="col-xl-6">

            <section class="mx-auto tb-separe" style="max-width:80%">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;;">
                        No personal data required for sign up
                    </li>
                    <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;;">Use it everywhere</li>
                    <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;;">Web accessible</li>
                    <li class="list-group-item list-group-item-primary" style="background-color: #b0d9fb;;">and we would love to hear your thoughts</li>
                </ul>
            </section>
        </div>
    </section>


    <%= javascript_pack_tag 'voice' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <style>
        .tb-separe {
            padding: 10rem 1.5rem !important;
        }
    </style>

    <button id="welcomemodal" type="button" style="display:none" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

    <div id="welcome" class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="border: 1px solid;">
            <div class="modal-content bg-dark p-3">
            <!--
                <button type="button" class="close" style="text-align: end;color: #FFF;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
             -->
                     <h3>Howdy! </h3>
                <p class="small">This project is born out of necessity. <br>
                    <br>We are now in a private testing phase. <br>
                    The idea of you using this tool makes the team happy, but,
                    please do not consider this a stable instrument.
                    <br>We are working hard to make this tool accessible and easy to use.
                  <br>
                  <p>Thanks</p>
                </p> 
                <h3>About user data:</h3>
                <p class="small">
                 We uses cookies to maintain user sessions, and browser storage to allow users to use Tabae offline.
We will also use Google analytics to understand how our users use this service.
</p>
<br> <p class="small">
                 We believe in using less user data as possible to deliver a great web app.
                </p>
                <br><br>
                <h3>Disclaimer</h3>
                 <p class="small">
Please note that this is a beta version of the Tabae platform which is
still undergoing final testing before its official release. The
platform, its software and all content found on it are provided on an
“as is” and “as available” basis. Tabae does not give any warranties,
whether express or implied, as to the suitability or usability of the
website, its software or any of its content.
</p>
<p class="small">
Tabae will not be liable for any loss, whether such loss is direct,
indirect, special or consequential, suffered by any party as a result
of their use of the Tabae platform, its software or content. Any
downloading or uploading of material to the website is done at the
user’s own risk and the user will be solely responsible for any
damage to any computer system or loss of data that results from such
activities.</p>
<p class="small">
Should you encounter any bugs, glitches, lack of functionality or
other problems on the website, please let us know immediately so we
can rectify these accordingly. Your help in this regard is greatly
appreciated! You can write to us at this address support@Tabae.cloud.
</p>
 <br> <br>

           
              <div class="text-center">
               <button type="button" class="btn btn-outline-light w-50 text-center" data-dismiss="modal" aria-label="I agree">I Agree</button>
              </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('welcomemodal').click()
    </script>

</div>